{% extends 'base.html.twig' %}

{% block body %}
    <h1> Login </h1>
<form action ="{{ path('security_login') }}" method="post">
    <div class="form-group">
        <input placeholder="Username" required name="_username" type="text" class="form-control">
        <input placeholder="Password" required name="_password" type="text" class="form-control">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success"> Connect </button>
    </div>

    <a class="nav-link" href="{{ path('security_register') }}">Register</a>
</form>
{% endblock %}